<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controle_Acessos_Umuarama.Properties.Settings.CAD_VEICULOConnectionString"
            connectionString="Data Source=LAPTOP-DRCU2LBP\SQLEXPRESS;Initial Catalog=CAD_VEICULO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Controle_Acessos_Umuarama.Properties.Settings.VEICConnectionString"
            connectionString="Data Source=LAPTOP-DRCU2LBP\SQLEXPRESS;Initial Catalog=VEIC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>